.left_padding {
  padding-left: 100px; }

.top_padding {
  padding-top: 170px; }

/****** Generic classes (body, a, p, h1, etc.) *********/
html, body {
  position: relative;
  z-index: -2;
  color: #000;
  height: 100%;
  font-family: "Fira", sans-serif;
  font-size: 1em;
  font-weight: 400;
  overflow: hidden;
  background-color: #5890ad; }

ul {
  list-style: none; }

.cf:after {
  clear: both;
  content: "";
  display: block; }

/****** header *********/
header {
  cursor: default;
  padding-top: 1.7em;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
  z-index: 10; }

header h1 {
  background: rgba(255, 255, 255, 0.85);
  clear: both;
  color: black;
  float: left;
  font-size: 2.1em;
  font-weight: 200;
  margin-top: 5px;
  padding-top: 0.1em;
  padding-right: 0.4em;
  padding-left: 5px; }

header h1 span {
  color: #00F; }

nav a {
  font-size: 0.8em;
  font-weight: 300; }

nav li {
  background: rgba(255, 255, 255, 0.85);
  padding: 0em 0.7em 0.2em 0.7em;
  display: inline-block; }

header ul, header h1 {
  margin-left: 100px; }

/****** .container content *********/
.container {
  position: relative;
  height: 100%;
  z-index: 2;
  overflow: hidden; }

.container h4 {
  background: rgba(255, 255, 255, 0.85);
  clear: both;
  font-weight: 400;
  font-size: 0.75em;
  text-transform: uppercase;
  float: left;
  cursor: default;
  padding-top: 0.5%; }

div.bge {
  position: fixed;
  top: -10px;
  left: 500px;
  right: 0;
  z-index: 1;
  display: block;
  width: 110%;
  height: 110%;
  -webkit-filter: blur(3px);
          filter: blur(3px); }

section {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 7px 5px 10px 0.3px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 5px 10px 0.3px rgba(0, 0, 0, 0.1);
  margin-right: 50%;
  padding-top: 170px;
  padding-left: 100px;
  height: 100%; }

section h2 {
  float: none;
  color: black;
  font-weight: 500;
  background: none;
  font-size: 1.375em;
  padding: 0em 1em 0em 30px;
  text-transform: uppercase; }

section h3 {
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  font-size: 0.9em;
  background: none;
  padding: 1em 1em 0em 30px; }

section h3:last-child {
  padding-top: 3em; }

section p {
  background: none;
  font-size: 1.375em;
  font-weight: 300;
  padding: 2em 1em 0em 30px;
  z-index: 1; }

/****** fonts *********/
@font-face {
  font-family: "Fira";
  src: local('Fira-B'), url('../fonts/FiraSans-ExtraBold.woff') format('woff');
  font-weight: 700; }

@font-face {
  font-family: "Fira";
  src: local('Fira-B'), url('../fonts/FiraSans-Bold.woff') format('woff');
  font-weight: 600; }

@font-face {
  font-family: "Fira";
  src: url('../fonts/FiraSans-Medium.woff') format('woff');
  font-weight: 500; }

@font-face {
  font-family: "Fira";
  src: url('../fonts/FiraSans-Regular.woff') format('woff');
  font-weight: 400; }

@font-face {
  font-family: "Fira";
  src: url('../fonts/FiraSans-Light.woff') format('woff');
  font-weight: 300; }

@font-face {
  font-family: "Fira";
  src: local('Fira-B'), url(../fonts/FiraSans-Hair.woff) format('woff');
  font-weight: 200; }

@font-face {
  font-family: "Libertine";
  src: url(../font/LinLibertine_R.woff);
  font-weight: normal; }

.text-box {
  background: rgba(255, 255, 255, 0.85);
  position: relative;
  top: 170px;
  margin-left: 100px;
  margin-right: 50%; }

.text-box p {
  font-size: 1.375em;
  font-weight: 300;
  padding: 2em 1em 2em 30px; }

.main-background {
  background: url(/images/index.jpg) no-repeat center center;
  position: fixed;
  top: -15px;
  left: -15px;
  z-index: 0;
  display: block;
  width: 107%;
  height: 107%;
  -webkit-background-size: cover;
          background-size: cover; }

.none {
  background: rgba(255, 255, 255, 0); }

/****** STRIPE MODULE *********/
.stripe-list {
  position: relative;
  top: 170px;
  left: 100px;
  z-index: 2; }

.stripe {
  float: left;
  clear: both;
  margin-top: 6.5%;
  text-transform: uppercase; }

.stripe:first-child {
  margin-top: 0; }

.stripe__subinfo {
  margin-left: 220px;
  float: left;
  clear: both;
  background: rgba(255, 255, 255, 0.5);
  cursor: default;
  font-size: 0.8em;
  font-weight: 400;
  padding-top: 0.5%;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-bottom: 0.2em; }

.stripe a {
  display: inline-block;
  height: 100%;
  float: left;
  clear: both;
  position: relative;
  border: none; }

.colored_link:hover {
  color: #00F; }

.stripe__thumbnail {
  position: absolute;
  min-height: 100%;
  width: 220px;
  float: left;
  clear: both; }

.stripe__title {
  border-bottom: none;
  margin-left: 220px;
  float: left;
  color: #000;
  background: rgba(255, 255, 255, 0.75);
  font-size: 1.4em;
  font-weight: 500;
  padding: 0.25em 0.4em 0.25em 0.4em; }

.stripe__title h1 {
  color: #000;
  line-height: 120%;
  border-bottom: 1px dotted #000;
  text-decoration: none; }

.stripe__title h1:hover {
  color: #00F;
  border-bottom: 1px dotted #00F; }

a {
  color: #000;
  line-height: 100%;
  border-bottom: 1px dotted #000;
  text-decoration: none; }

a:hover {
  color: #00F;
  border-bottom: 1px dotted #00F; }

.stripe a {
  border-bottom: none; }

/*
/**

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dppx) {

  header {
    cursor: default;
    padding-top: 0em;
  }
  header ul,header h1{
    margin-left: 0px;
  }

  header h2{
    height: 70px;
    font-size: 2.18em;
    margin-bottom: 0px;
    padding: 0.3em 0.9em 0em 0.9em;


  }

  header h1 {
    height: 80px;
    clear: none;
    font-size: 3.3em;
    margin-top: 0px;
    padding-top: 0px;
    float:right;
  }

  .stripe {
    margin-top: 15%;
    padding-left: 0px;
  }

   .stripe:first-child {
    margin-top: 0;
  }

  .container div .stripe__thumbnail {
    padding-left: 300px;
  }

  .container h1 {
    font-size: 4em;
    font-weight: 300;
  }

  .stripe h2, .stripe h4 {
    margin-left: 300px;
  }

}
**/