@import "reset";
@import "fonts";
@import "variables";

/* base.scss */


html,body {
	color:#000;
	font-family: $font-stack;
	font-weight: 400;
	z-index:0;
	height: 100%;
}

a{
  color: #000;
  border-bottom: 1px dotted #000;
  text-decoration: none;
}

a:hover{
  color: $primary-color;
  border-bottom: 1px dotted $primary-color;
}

.clearfix:after { 
    content:"";
    display:table;
    clear:both;
}

@import "layout";
@import "module";



//Sources
//http://www.html5rocks.com/en/tutorials/masking/adobe/
