/* layout.scss */

@import "variables";

.header {
    margin-top: 3vh;
    float: left;
    position: fixed;
    width: 100%;
    z-index: 10;
    color: #000;
    margin-left: 0;
    //right:50px;
}

//Where the content is displayed

.container {
    margin-top: min(7vh, 100px);
    float: left;
    margin-left: 10%;
    width: 65%;
    position: relative;
    z-index: 6;
    height: 100%;
    display: table;
}

.stripe-list-container {
    position: relative;
    z-index: 5;
}

.footer {
    float: left;
    width: 100%;
    background: rgba(255, 255, 255, 0);
}
