
@import "reset";
@import "fonts";
@import "variables";

/* base.scss */


html,body {
	background: url(/images/test4.png) no-repeat center center fixed #5881AF;
	background-size: cover;
	color:#000;
	font-family: $font-stack;
	font-weight: 400;
	z-index:0;
	height: 100%;
}

a{
  color: #FFF;
  border-bottom: 1px dotted #FFF;
  text-decoration: none;
    background-color: #5881AF;

}

a:hover{
  color: $primary-color;
  border-bottom: 1px dotted $primary-color;
}

.clearfix:after { 
    content:"";
    display:table;
    clear:both;
}