/* layout.scss */

@import "variables";


//Header

header{
  top:2.7em;
  text-transform: uppercase;
  width:100%;
  position:fixed;
  z-index: 10;
}


header h1, header ul{
  margin-left: $left_space;
}



nav{


}
nav li{
  background: rgba(255,255,255,0.85);
padding: 0.5em 0.7em 0.6em 0.7em;
  display:inline-block;
  margin-right:0.6em;


}

nav ul{
}

nav a{
  font-size: 1.5em;
/* line-height: 130%; */
font-weight: 200;
}

.link-is-active{
  color:$primary-color;
}

.header__title{
  cursor:default;
  opacity: 0.1;
    background: rgba(255,255,255,0.85);

  float:right;
  font-size: 2.1em;
  font-weight: 700;
padding-top: 0.2em;
padding-bottom: 0.1em;
padding-right: 0.25em;
padding-left: 0.2em;
margin-right:75px;
}

.header__title--colored{
  color:$primary-color;
}


.container{
  width:100%;
  position:relative;
  z-index:5;
  background: none;
}


.stripe-list-container{
  position:relative;
  padding-top: $top_space;
  padding-left: $left_space;
  z-index: 5;
}


.text-box {
position: relative;
padding-top: 170px;
padding-left: 100px;
padding-right: 40%;
}

/*
.text-box{
  width:60%;
  margin: auto;
  padding-top:$top_space;
  position:relative;
}
*/


.text-box p{
  background: rgba(255,255,255,0.85);
  font-size: 1.375em;
  font-weight:300;
  padding: 2em 1em 2em 30px;
  line-height: 145%;

}

.box--full-height{
  position: relative;
  z-index: 5;
  background: rgba(255,255,255,0.85);
  box-shadow: 7px 5px  10px 0.3px rgba(0, 0, 0, 0.1);
  margin-right: 40%;
  padding-top: $top_space;
  padding-left: $left_space;
  padding-bottom:4em;
  height: 100%;
}

.box--full-height h2{
  float:none;
  color:black;
  font-weight: 500;
  background: none;
  font-size: 1.375em;
  padding: 0em 1em 0em 30px;
  text-transform: uppercase;

}
.box--full-height h3{
  font-weight: 500;
  color:black;
  text-transform: uppercase;
  font-size: 0.9em;
  background: none;
  padding: 1em 1em 0em 30px;
}

.box--full-height h3:last-child{
  padding-top: 3em;
}

.box--full-height p{
      line-height: 145%;
  background: none;
  font-size: 1.375em;
  font-weight: 300;
  padding: 2em 1em 0em 30px;
  z-index: 1;

}
//https://www.npmjs.org/package/gulp-gm
//https://www.npmjs.org/package/gulp-gm
//https://www.npmjs.org/package/gulp-gm
/**
.bge {
  position: fixed;
  top:-10px;
  left: 500px;
  right: 0;
  z-index: 2;
  display: block;
  width: 110%;
  height: 110%;
  filter: blur(3px);
}
**/

.footer{
  width:100%;
  background: rgba(255,255,255,0);
}

svg{
    padding-bottom: 2em;
    padding-top: 3em;
    margin: 0 auto;
    margin-top: 6em;

    display: block;
}

.circle{
    fill:$bg_txt_color;
    stroke:none;
}

.footer::selection {
  background: none;
}


