@import "variables";

/* module.scss */


header h1{
  position:fixed;
  font-size: 1.5em;
  font-weight: 200;
  color:white;
    padding:0.2em;
    margin-left:4%;
}


//Nav Module

nav{
  text-transform: uppercase;
  text-align: right;
  margin-right:8%;
}

nav li{
  display:inline-block;
  padding:0.3em;
}

//Change to class
li + li{
  margin-left:0.5em;
}

nav a{
display:inline-block;
  font-size: 1.5em;
  font-weight: 200;
  color:white;
  border-bottom: 1px dotted white;
}




//Stripe Module
$stripe_text_pad:0px;
$text_color:rgba(50,50,50,0.95);

.stripe{
  float:left;
  clear:both;
  margin-top: 10%;
  text-transform: uppercase;
}

.stripe:first-child{
  margin-top: 0;
}


.stripe__subinfo{
  margin-left: $stripe_text_pad;
  float:left;
  clear:both;
  background: rgba(255, 255, 255, 0.5);
  cursor: default;
  font-size: 0.8em;
  font-weight: 400;
  color:$text_color;
  padding-top: 0.5%;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-bottom: 0.2em;
}

.stripe a{
  display:inline-block;
  height: 100%;
  float:left;
  clear:both;
  position:relative;
  border: none; 

}


.stripe__thumbnail{
  position: absolute;
  min-height: 100%;
  width:$stripe_text_pad;
  float:left;
  clear:both; 
}


.stripe__title{
  border-bottom: none;
  margin-left: $stripe_text_pad;
  float:left;
  color: $text_color;
  background: rgba(255, 255, 255, 0.75);
  font-size: 1.4em;
  font-weight: 500;
  padding: 0.25em 0.4em 0.25em 0.4em;
  line-height: 120%;

}

.stripe__title h1{
  border-bottom: 1px dotted #000;
  text-decoration: none;
}

.stripe__title h1:hover{
  color: $primary-color;
  border-bottom: 1px dotted $primary-color;
}


.stripe a{
  border-bottom: none;
}



//BOX


.box{
  width: 70%;
  height:100%;
  display: table-cell;
  vertical-align: middle;
}


.box p{
  background: rgba(255,255,255,0.85);
  font-size: 1.375em;
  font-weight:300;
  padding: 2em 1em 2em 30px;
  padding-left:10%;
  line-height: 145%;

}


.box--full-height{
  height:100%;
  display: table-cell;
  vertical-align: middle;

  position: relative;
  z-index: 5;
  background: rgba(255,255,255,0.85);
  padding-top: 50px;
  padding-bottom:4em;
  padding-left:5%;
  width: 90%;
}

.box--full-height h2{
  float:none;
  color:black;
  font-weight: 500;
  background: none;
  font-size: 1.375em;
  padding: 0em 1em 0em 30px;
  text-transform: uppercase;
}
.box--full-height h3{
  font-weight: 500;
  color:black;
  text-transform: uppercase;
  font-size: 0.9em;
  background: none;
  padding: 1em 1em 0em 30px;
}

.box--full-height h3:last-child{
  padding-top: 3em;
}

.box--full-height p{
  line-height: 145%;
  background: none;
  font-size: 1.375em;
  font-weight: 300;
  padding: 2em 1em 0em 30px;
  z-index: 1;

}

.bge {
position: fixed;
top: -10px;
left: 55%;
right: 0;
z-index: 2;
display: block;
width: 110%;
height: 110%;
-webkit-filter: blur(3px);
filter: blur(3px);
}



//Footer

svg{
    padding-bottom: 2em;
    padding-top: 5em;
    margin: 0 auto;
    display: block;
}

.circle{
    fill: white;
    stroke:none;
}

.footer::selection {
  background: none;
}