/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* fonts.scss */
@font-face { font-family: "Fira"; src: local("FiraSans-ExtraBold"), url("../fonts/FiraSans-ExtraBold.woff") format("woff"); font-weight: 700; }
@font-face { font-family: "Fira"; src: local("FiraSans-ExtraBold"), url("../fonts/FiraSans-ExtraBold.woff") format("woff"); font-weight: 600; }
@font-face { font-family: "Fira"; src: local("FiraSans-Medium"), url("../fonts/FiraSans-Medium.woff") format("woff"); font-weight: 500; }
@font-face { font-family: "Fira"; src: local("FiraSans-Regular"), url("../fonts/FiraSans-Regular.woff") format("woff"); font-weight: 400; }
@font-face { font-family: "Fira"; src: local("FiraSans-Light"), url("../fonts/FiraSans-Light.woff") format("woff"); font-weight: 300; }
@font-face { font-family: "Fira"; src: local("FiraSans-Hair"), url("../fonts/FiraSans-Hair.woff") format("woff"); font-weight: 200; }
/* base.scss */
html, body { color: #000; font-family: Fira, Helvetica, sans-serif; font-weight: 400; z-index: 0; height: 100%; }

a { color: #000; border-bottom: 1px dotted #000; text-decoration: none; }

a:hover { color: #00F; border-bottom: 1px dotted #00F; }

.clearfix:after { content: ""; display: table; clear: both; }

{
"version": 3,
"mappings": ";;AAKA,0eAYyB,GACxB,MAAM,EAAE,CAAC,EACT,OAAO,EAAE,CAAC,EACV,MAAM,EAAE,CAAC,EACT,SAAS,EAAE,IAAI,EACf,IAAI,EAAE,OAAO,EACb,cAAc,EAAE,QAAQ;;;AAGzB,uFAC2C,GAC1C,OAAO,EAAE,KAAK;;AAEf,IAAK,GACJ,WAAW,EAAE,CAAC;;AAEf,MAAO,GACN,UAAU,EAAE,IAAI;;AAEjB,aAAc,GACb,MAAM,EAAE,IAAI;;AAEb,sDACkB,GACjB,OAAO,EAAE,EAAE,EACX,OAAO,EAAE,IAAI;;AAEd,KAAM,GACL,eAAe,EAAE,QAAQ,EACzB,cAAc,EAAE,CAAC;;;AC5ClB,UAIC,GAHC,WAAW,EAAE,MAAM,EACnB,GAAG,EAAE,mFAA2B,EAChC,WAAW,EAAE,GAAG;AAIlB,UAIC,GAHC,WAAW,EAAE,MAAM,EACnB,GAAG,EAAE,mFAA2B,EAChC,WAAW,EAAE,GAAG;AAIlB,UAIC,GAHC,WAAW,EAAE,MAAM,EACnB,GAAG,EAAE,6EAAwB,EAC7B,WAAW,EAAE,GAAG;AAGlB,UAIC,GAHC,WAAW,EAAE,MAAM,EACnB,GAAG,EAAE,+EAAyB,EAC9B,WAAW,EAAE,GAAG;AAGlB,UAIC,GAHC,WAAW,EAAE,MAAM,EACnB,GAAG,EAAE,2EAAuB,EAC5B,WAAW,EAAE,GAAG;AAIlB,UAIC,GAHC,WAAW,EAAE,MAAM,EACnB,GAAG,EAAE,yEAAsB,EAC3B,WAAW,EAAE,GAAG;;AC/BlB,UAAU,GACT,KAAK,EAAC,IAAI,EACV,WAAW,ECPC,2BAAI,EDQhB,WAAW,EAAE,GAAG,EAChB,OAAO,EAAC,CAAC,EACT,MAAM,EAAE,IAAI;;AAGb,CAAC,GACC,KAAK,EAAE,IAAI,EACX,aAAa,EAAE,eAAe,EAC9B,eAAe,EAAE,IAAI;;AAGvB,OAAO,GACL,KAAK,ECdS,IAAI,EDelB,aAAa,EAAE,eAAyB;;AAG1C,eAAgB,GACZ,OAAO,EAAC,EAAE,EACV,OAAO,EAAC,KAAK,EACb,KAAK,EAAC,IAAI",
"sources": ["../_reset.scss","../_fonts.scss","../base.scss","../_variables.scss"],
"names": [],
"file": "base.css"
}
/* layout.scss */
.header { margin-top: 4%; float: left; position: fixed; width: 100%; z-index: 10; color: #000; margin-left: 0; }

.container { float: left; margin-left: 10%; width: 65%; position: relative; z-index: 6; height: 100%; display: table; }

.stripe-list-container { position: relative; z-index: 5; padding-top: 10%; }

.footer { float: left; width: 100%; background: rgba(255, 255, 255, 0); }

{
"version": 3,
"mappings": ";AAKA,OAAO,GACL,UAAU,EAAC,EAAE,EACb,KAAK,EAAC,IAAI,EACV,QAAQ,EAAC,KAAK,EACd,KAAK,EAAC,IAAI,EACV,OAAO,EAAE,EAAE,EACX,KAAK,EAAE,IAAI,EACX,WAAW,EAAE,CAAC;;AAQhB,UAAU,GAER,KAAK,EAAC,IAAI,EACV,WAAW,EAAE,GAAG,EAChB,KAAK,EAAC,GAAG,EACT,QAAQ,EAAC,QAAQ,EACjB,OAAO,EAAC,CAAC,EACT,MAAM,EAAC,IAAI,EACX,OAAO,EAAE,KAAK;;AAIhB,sBAAsB,GACpB,QAAQ,EAAC,QAAQ,EACjB,OAAO,EAAE,CAAC,EACV,WAAW,EAAC,GAAG;;AAIjB,OAAO,GACL,KAAK,EAAC,IAAI,EACV,KAAK,EAAC,IAAI,EACV,UAAU,EAAE,sBAAmB",
"sources": ["../layout.scss"],
"names": [],
"file": "layout.css"
}
/* module.scss */
.header h1 { position: fixed; font-size: 1.5em; font-weight: 200; color: #5881AF; opacity: 0; padding: 0.2em; margin-left: 12%; }

.nav { text-transform: uppercase; text-align: right; margin-right: 5%; font-size: 1.5em; }

.nav li { display: inline-block; }

li + li { margin-left: 0.5em; }

.nav a { padding: 0.2em; background-color: #FFF; display: inline-block; font-weight: 200; border-bottom: 1px dotted white; }

.stripe { float: left; clear: both; margin-top: 10%; text-transform: uppercase; }

.stripe:first-child { margin-top: 0; }

.stripe__subinfo { margin-left: 0px; float: left; clear: both; background: rgba(255, 255, 255, 0.5); cursor: default; font-size: 0.8em; font-weight: 400; color: "black"; padding-top: 0.5%; padding-left: 0.4em; padding-right: 0.4em; padding-bottom: 0.2em; }

.stripe a { display: inline-block; height: 100%; float: left; clear: both; position: relative; border: none; }

.stripe__thumbnail { position: absolute; min-height: 100%; width: 0px; float: left; clear: both; }

.stripe__title { border-bottom: none; margin-left: 0px; float: left; color: "black"; background: rgba(255, 255, 255, 0.75); font-size: 1.4em; font-weight: 500; padding: 0.25em 0.4em 0.25em 0.4em; line-height: 120%; }

.stripe__title h1 { border-bottom: 1px dotted #000; text-decoration: none; }

.stripe__title h1:hover { color: #00F; border-bottom: 1px dotted #00F; }

.stripe a { border-bottom: none; }

.box { position: relative; z-index: 6; width: 70%; height: 100%; display: table-cell; vertical-align: middle; }

.box p { font-size: 1.375em; font-weight: 300; padding: 2em 1em 2em 30px; padding-left: 10%; line-height: 145%; }

.box--full-height { height: 100%; display: table-cell; vertical-align: middle; position: relative; z-index: 5; padding-top: 50px; padding-bottom: 4em; width: 75%; }

.box--full-height h2 { float: none; font-weight: 500; background: none; font-size: 1.375em; padding: 0em 1em 0em 30px; text-transform: uppercase; }

.box--full-height h3 { font-weight: 500; text-transform: uppercase; font-size: 0.9em; background: none; padding: 1em 1em 0em 30px; }

.box--full-height h3:last-child { padding-top: 3em; }

.box--full-height p { line-height: 145%; background: none; font-size: 1.375em; font-weight: 300; padding: 2em 1em 0em 30px; z-index: 1; }

.bge { position: fixed; background-size: cover; backgroung-position: 1000px 0px; top: 0; left: 0; background-repeat: no-repeat; z-index: 2; display: block; width: 100%; height: 100%; -webkit-filter: blur(3px); filter: blur(3px); -webkit-mask: url(/images/work_mask.svg) center center/cover; mask: url(/images/work_mask.svg) center center/cover; }

.mask { position: fixed; display: block; width: 100%; height: 100%; }

.main-background { background: url(/images/back.jpg) no-repeat center center fixed; background-size: cover; position: fixed; top: 0; left: 0; z-index: 3; display: block; width: 100%; height: 100%; /* iOS support */ -webkit-mask: url(/images/mask.svg) center center/cover; mask: url(/images/mask.svg) center center/cover; }

svg { padding-bottom: 2em; padding-top: 5em; margin: 0 auto; display: block; }

.circle { fill: white; stroke: none; }

.footer::-moz-selection { background: none; }

.footer::selection { background: none; }

{
"version": 3,
"mappings": ";AAKA,UAAU,GACR,QAAQ,EAAC,KAAK,EACd,SAAS,EAAE,KAAK,EAChB,WAAW,EAAE,GAAG,EAChB,KAAK,EAAE,OAAO,EACd,OAAO,EAAC,CAAC,EACP,OAAO,EAAC,KAAK,EACb,WAAW,EAAC,GAAG;;AAMnB,IAAI,GACF,cAAc,EAAE,SAAS,EACzB,UAAU,EAAE,KAAK,EACjB,YAAY,EAAC,EAAE,EACb,SAAS,EAAE,KAAK;;AAGpB,OAAO,GACL,OAAO,EAAC,YAAY;;AAItB,OAAO,GACL,WAAW,EAAC,KAAK;;AAGnB,MAAM,GACJ,OAAO,EAAC,KAAK,EACb,gBAAgB,EAAE,IAAI,EACtB,OAAO,EAAC,YAAY,EACpB,WAAW,EAAE,GAAG,EAChB,aAAa,EAAE,gBAAgB;;AAUjC,OAAO,GACL,KAAK,EAAC,IAAI,EACV,KAAK,EAAC,IAAI,EACV,UAAU,EAAE,GAAG,EACf,cAAc,EAAE,SAAS;;AAG3B,mBAAmB,GACjB,UAAU,EAAE,CAAC;;AAIf,gBAAgB,GACd,WAAW,EAhBI,GAAG,EAiBlB,KAAK,EAAC,IAAI,EACV,KAAK,EAAC,IAAI,EACV,UAAU,EAAE,wBAAwB,EACpC,MAAM,EAAE,OAAO,EACf,SAAS,EAAE,KAAK,EAChB,WAAW,EAAE,GAAG,EAChB,KAAK,EAtBM,OAAO,EAuBlB,WAAW,EAAE,IAAI,EACjB,YAAY,EAAE,KAAK,EACnB,aAAa,EAAE,KAAK,EACpB,cAAc,EAAE,KAAK;;AAGvB,SAAS,GACP,OAAO,EAAC,YAAY,EACpB,MAAM,EAAE,IAAI,EACZ,KAAK,EAAC,IAAI,EACV,KAAK,EAAC,IAAI,EACV,QAAQ,EAAC,QAAQ,EACjB,MAAM,EAAE,IAAI;;AAKd,kBAAkB,GAChB,QAAQ,EAAE,QAAQ,EAClB,UAAU,EAAE,IAAI,EAChB,KAAK,EA5CU,GAAG,EA6ClB,KAAK,EAAC,IAAI,EACV,KAAK,EAAC,IAAI;;AAIZ,cAAc,GACZ,aAAa,EAAE,IAAI,EACnB,WAAW,EApDI,GAAG,EAqDlB,KAAK,EAAC,IAAI,EACV,KAAK,EArDM,OAAO,EAsDlB,UAAU,EAAE,yBAAyB,EACrC,SAAS,EAAE,KAAK,EAChB,WAAW,EAAE,GAAG,EAChB,OAAO,EAAE,yBAAyB,EAClC,WAAW,EAAE,IAAI;;AAInB,iBAAiB,GACf,aAAa,EAAE,eAAe,EAC9B,eAAe,EAAE,IAAI;;AAGvB,uBAAuB,GACrB,KAAK,EC3GS,IAAI,ED4GlB,aAAa,EAAE,eAAyB;;AAI1C,SAAS,GACP,aAAa,EAAE,IAAI;;AAQrB,IAAI,GACF,QAAQ,EAAC,QAAQ,EACjB,OAAO,EAAC,CAAC,EACT,KAAK,EAAE,GAAG,EACV,MAAM,EAAC,IAAI,EACX,OAAO,EAAE,UAAU,EACnB,cAAc,EAAE,MAAM;;AAIxB,MAAM,GACJ,SAAS,EAAE,OAAO,EAClB,WAAW,EAAC,GAAG,EACf,OAAO,EAAE,gBAAgB,EACzB,YAAY,EAAC,GAAG,EAChB,WAAW,EAAE,IAAI;;AAKnB,iBAAiB,GACf,MAAM,EAAC,IAAI,EACX,OAAO,EAAE,UAAU,EACnB,cAAc,EAAE,MAAM,EACtB,QAAQ,EAAE,QAAQ,EAClB,OAAO,EAAE,CAAC,EACV,WAAW,EAAE,IAAI,EACjB,cAAc,EAAC,GAAG,EAClB,KAAK,EAAE,GAAG;;AAGZ,oBAAoB,GAClB,KAAK,EAAC,IAAI,EACV,WAAW,EAAE,GAAG,EAChB,UAAU,EAAE,IAAI,EAChB,SAAS,EAAE,OAAO,EAClB,OAAO,EAAE,gBAAgB,EACzB,cAAc,EAAE,SAAS;;AAE3B,oBAAoB,GAClB,WAAW,EAAE,GAAG,EAChB,cAAc,EAAE,SAAS,EACzB,SAAS,EAAE,KAAK,EAChB,UAAU,EAAE,IAAI,EAChB,OAAO,EAAE,gBAAgB;;AAG3B,+BAA+B,GAC7B,WAAW,EAAE,GAAG;;AAGlB,mBAAmB,GACjB,WAAW,EAAE,IAAI,EACjB,UAAU,EAAE,IAAI,EAChB,SAAS,EAAE,OAAO,EAClB,WAAW,EAAE,GAAG,EAChB,OAAO,EAAE,gBAAgB,EACzB,OAAO,EAAE,CAAC;;AAIZ,IAAK,GACL,QAAQ,EAAE,KAAK,EACf,eAAe,EAAE,KAAK,EACtB,mBAAmB,EAAE,UAAU,EAC/B,GAAG,EAAE,CAAC,EACN,IAAI,EAAC,CAAC,EACN,iBAAiB,EAAE,SAAS,EAC5B,OAAO,EAAE,CAAC,EACV,OAAO,EAAE,KAAK,EACd,KAAK,EAAE,IAAI,EACX,MAAM,EAAE,IAAI,EACZ,MAAM,EAAE,SAAS,EAChB,IAAI,EAAE,8CAAgD;;AAKvD,KAAK,GACH,QAAQ,EAAE,KAAK,EACf,OAAO,EAAE,KAAK,EACd,KAAK,EAAE,IAAI,EACX,MAAM,EAAE,IAAI;;AAMd,gBAAiB,GACf,UAAU,EAAE,mDAAmD,EAC/D,eAAe,EAAE,KAAK,EACxB,QAAQ,EAAE,KAAK,EAEf,GAAG,EAAE,CAAC,EACN,IAAI,EAAE,CAAC,EACP,OAAO,EAAE,CAAC,EACV,OAAO,EAAE,KAAK,EACd,KAAK,EAAE,IAAI,EACX,MAAM,EAAE,IAAI,oBAGX,IAAI,EAAE,yCAA2C;;AASlD,GAAG,GACC,cAAc,EAAE,GAAG,EACnB,WAAW,EAAE,GAAG,EAChB,MAAM,EAAE,MAAM,EACd,OAAO,EAAE,KAAK;;AAGlB,OAAO,GACH,IAAI,EAAE,KAAK,EACX,MAAM,EAAC,IAAI;;AAGf,kBAAmB,GACjB,UAAU,EAAE,IAAI",
"sources": ["../module.scss","../_variables.scss"],
"names": [],
"file": "module.css"
}