

/****** mobile retina *********/

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  
header{
  position:relative;
}

header h1{
  font-size: 6em;
  font-weight: 200;
  float:none;
  text-align:center;
  padding-right:0;
  padding-top:0;

}
header ul{
  display: none;}

  main{
  height:100%;
}

.top{
  top: 0;
}

main div{
  font-size: 4vw;
  padding:0;
  -webkit-filter:  grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: none;
  float:none;
    text-align:center;
      background: none;


}

  


main h1{
  font-weight: 500;
  padding:0;
  padding-right: 1.5em;
  background: none;

}

main h2,main h4{
  padding-left: 0;
  float:none;
    text-align:center;

  font-weight: 300;
  font-size: 0.7em;
    background: none;

}

section{
  margin-right: 0%;
  padding-top:50px;
}

section h2{
  font-weight: 500;
  padding-left:30px;
  text-align: left;
  font-size: 2em;

}
section h3{
  font-size: 1.5em;
}

section p{
    font-size: 3em;

}

div.stripe{
  padding-left: 0;
  width: 100%;
  padding-bottom: 1.5em;
}

.bg{
  background: none !important;;
}


}

